<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h2>{{'FB pages' | translate}}</h2>
    </div>

    <div class="ibox-content">
        <p ng-if="!issetPages()" class="text-center">{{'empty pages' | translate}}</p>
        <table class="table table-striped" ng-if="issetPages()">
            <tbody>
            <tr>
                <th scope="row">{{'dsn' | translate}}</th>
                <td><code>{{dsn}}</code></td>
            </tr>
            <tr ng-repeat="(part, value) in connection">
                <th scope="row">{{part}}</th>
                <td>{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>