/* login  */

@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

section #services {
    text-align: center;
    transform: translatez(0);
}

section #services h2 {
    margin: 6% 0;
    color: #aaa;
    font-size: 3.4em;
    font-family: 'Raleway Dots', sans-serif;
    text-align: center;
}

section #services li {
    width: 96px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
}

section #services li div {
    width: 96px;
    height: 96px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 96px;
    background-color: #fff;
    transition: all 0.5s ease;
}

section #services li.disabled div {
    color: #eee;
}

section #services li:not(.disabled) div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}

section #services li span {
    width: 96px;
    height: 20px;
    display: block;
    padding: 15px 0;
    color: #74d4b3;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}

/* common */

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.h2-title {
    letter-spacing: -2px;
}

.h2-title > i {
    padding: 0 8px;
}

.profile-avatar {
    float: left;
    margin-right: 8px;
}

.profile-avatar > img {
    width: 48px;
}

.label-search-icon {
    position: absolute;
    top: 1px;
    left: 22px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, .1);
}

.reset-search-icon {
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
}

.reset-search-icon:hover {
    color: rgba(0, 0, 0, .6);
}

.modal-title > .fa.fa-times {
    font-size: 1.4em;
}

.modal-close-icon {
    font-size: 1.8em;
    opacity: .9;
}

.lead > pre {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: none;
}

/* buttons */

.btn-round {
    border-radius: 50%;
}

.btn-md-round {
    border-radius: 16px;
}

.btn-xxs, .btn-group-xxs > .btn {
    padding: 0.12rem 0.6rem 0.3rem 0.6rem;
    font-size: 0.875em;
}

/* user */

.user-avatar {
    float: left;
    width: 48px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 50%;
}

.user-avatar ~ .modal-title {
    line-height: 48px;
}

.user-row {
    line-height: 20px;
}

.user-row ~ .user-row {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px dashed rgba(0, 0, 0, .1);
}

.user-attribute {
    padding-left: 16px !important;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 14px;
}

.user-view-modal-body {
    padding: 0;
}

.user-view-table td > code {
    font-weight: 600;
    letter-spacing: -.3px;
}

.user-view-table {
    margin-bottom: 2px;
}

.user-form .modal-body {
    padding: 20px 25px 10px 25px;
}

/* notes */

#note_categories_chosen > ul > li.search-field {
    height: 28px;
    padding-left: 8px;
}

#note_categories_chosen > ul > li.search-field > input {
    height: 28px;
}

.note-public-icon {
    line-height: 22px;
    margin-right: 4px;
}

.note-public-icon > i.fa {
    font-size: 1.4em;
}

.note-public-icon > .fa-circle {
    color: #f8ac59;
}

.note-public-icon > .fa-check-circle {
    color: #1ab394;
}

.note-public-text {
    margin-left: 4px
}

.toggle-h4 {
    line-height: 16px;
    font-weight: 500;
    letter-spacing: -.7px;
}

.toggle-h4:hover {
    background: rgba(0, 0, 0, .05);
}

/* db */

.db-variables {
    max-width: 600px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* article */

.article-preview-img {
    width: 90%;
    margin: 10% 5% 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.article-code-wrapper > pre {
    float: left;
    margin: 0;
    padding: 0;
}

.col-lg-right-x2 {
    padding-left: 32px;
}

/* account */

.badge-cloud {
    padding: 4px 8px;
    float: left;
    line-height: 10px;
    font-weight: 300;
}

.badge-cloud ~ .badge-cloud {
    margin-left: 4px;
}

/* foo table */

#page-wrapper table > tfoot {
    float: left;
    position: absolute;
    right: 0;
    top: -16px;
}

#page-wrapper table > tfoot > tr > td > button {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}