<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-t-lg">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Chosen select
                        <small>http://harvesthq.github.io/chosen/</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        With chosen select uesr can fase chose from large in select input.
                    </p>
                    <div class="form-group">
                        <div>
                            <label for="single-label-example">Click to Highlight Select</label>
                            <select id="single-label-example" chosen-select data-placeholder="Choose a Country"
                                    class="chosen-select" tabindex="15">
                                <option ng-repeat="country in countries" value="{{country.value}}">{{country.html}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="multiple-label-example">Click to Highlight Multiple Select</label>
                        <div>
                            <select id="multiple-label-example" chosen-select data-placeholder="Choose a Country"
                                    multiple class="chosen-select" tabindex="18">
                                <option ng-repeat="country in countries" value="{{country.value}}">{{country.html}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>