<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h2>Create task</h2>
            </div>
            <div class="ibox-content">
                <form class="m-t" role="form" name="task-create" ng-submit="create()">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="title" name="title" ng-model="task.title">
                        <span ng-show="errors.title" class="text-danger">{{errors.title}}</span>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="description" name="description" ng-model="task.description">
                        <span ng-show="errors.description" class="text-danger">{{errors.description}}</span>
                    </div>

                    <div class="dropdown form-group">
                        <a class="dropdown-toggle" id="dropdown-assigned" role="button" data-toggle="dropdown" data-target="" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="assigned" data-ng-model="task.assigned"><span class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="task.assigned" data-datetimepicker-config="{
                             dropdownSelector: '#dropdown-assigned',
                             modelType: 'YYYY-MM-DD HH:mm:ss'
                              }"/>
                        </ul>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary">save</button>
                    </div>

                </form>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Chosen select <small>http://harvesthq.github.io/chosen/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        With chosen select uesr can fase chose from large in select input.
                    </p>
                    <div class="form-group">
                        <div>
                            <label for="single-label-example">Click to Highlight Select</label>
                            <select id="single-label-example" chosen-select data-placeholder="Choose a Country" class="chosen-select" tabindex="15">
                                <option ng-repeat="country in countries" value="{{country.value}}">{{country.html}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="multiple-label-example">Click to Highlight Multiple Select</label>
                        <div>
                            <select id="multiple-label-example" chosen-select data-placeholder="Choose a Country" multiple class="chosen-select" tabindex="18">
                                <option ng-repeat="country in countries" value="{{country.value}}">{{country.html}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>