<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox-content">
                <h2>TODO List</h2>
                <small>This is example of task list</small>
                <ul class="todo-list m-t ui-sortable">

                    <li ng-repeat="task in tasks">
                        <input i-check type="checkbox" ng-checked="task.is_done" value="" name="">
                        <span class="m-l-xs">{{task.title}}</span>
                        <span ng-if="task.time_left" ng-bind-html="task.time_left | duration"></span>
                        <!--<small ng-if="task.time_left" class="label label-primary"><i class="fa fa-clock-o"></i> {{task.time_left | duration}}</small>-->
                        <a href="#" role="button" ng-click="delete(task, $index)"><i style="font-size: 1.6em;opacity: .9;" class="fa fa-times pull-right"></i></a>
                    </li>

                    <li>
                        <input i-check type="checkbox" checked value="" name="">
                        <span class="m-l-xs">Buy a milk</span>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                    </li>
                    <li>
                        <input i-check type="checkbox" value="" name="">
                        <span class="m-l-xs">Go to shop and find some products.</span>
                        <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
                    </li>
                    <li>
                        <input i-check type="checkbox" value="" name="">
                        <span class="m-l-xs">Send documents to Mike</span>
                        <small class="label label-warning"><i class="fa fa-clock-o"></i> 2 mins</small>
                    </li>
                    <li>
                        <input i-check type="checkbox" value="" name="">
                        <span class="m-l-xs">Go to the doctor dr Smith</span>
                        <small class="label label-danger"><i class="fa fa-clock-o"></i> 42 mins</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>