<!DOCTYPE html>
<html ng-app="technical-task">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title page-title="Cloud Admin"></title>
    <link rel="icon" href="img/favicon.ico">

    <!-- build:css css/vendor.min.css -->
    <link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/chosen-bootstrap/chosen.bootstrap.css" rel="stylesheet">
    <link href="libs/toastr/toastr.min.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:css css/style.min.css -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->

</head>

<body ng-controller="GlobalCtrl" class="{{$state.current.data.bodyClass}}" landing-scrollspy id="page-top">

<div ui-view></div>

<!-- build:js js/vendor.min.js -->
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/jquery-ui/jquery-ui.min.js"></script>
<script src="libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="libs/angular/angular.min.js"></script>-->
<script src="libs/angular/angular.js"></script>
<script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="libs/angular-translate/angular-translate.min.js"></script>
<script src="libs/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="libs/angular-ui-router-uib-modal/src/angular-ui-router-uib-modal.js"></script>
<script src="libs/angular-environment/dist/angular-environment.min.js"></script>
<script src="libs/toastr/toastr.min.js"></script>
<script src="libs/angularjs-social-login/angularjs-social-login.js"></script>
<!-- endbuild -->

<!-- build:js js/script.min.js -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/services/auth.service.js"></script>
<script src="js/services/social.user.service.js"></script>
<script src="js/controllers/global.js"></script>
<script src="js/directives/chosen.select.js"></script>
<script src="js/directives/i.check.js"></script>
<script src="js/directives/hide.sidebar.js"></script>
<script src="js/directives/collapse.sidebar.js"></script>
<script src="js/directives/foo.table.js"></script>
<script src="js/directives/fix.height.js"></script>
<script src="js/directives/csv.import.js"></script>
<script src="js/directives/toggle.header.js"></script>
<!--<script src="js/inspinia.js"></script>-->
<!-- endbuild -->

</body>

</html>
