<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span class="profile-avatar"><img alt="image" class="img-circle" src="{{user.imageUrl}}"></span>
                    <span class="clear">
                        <span class="text-xs badge-cloud badge badge-success block" style="margin: 6px 0 0 2px;">{{user.provider}}</span>
                        <br>
                        <span class="block m-t-xs" style="margin: 8px 0 0 4px;">{{user.name}}</span>
                    </span>
                </div>
                <div class="logo-element">FB</div>
            </li>
            <li ng-repeat="item in menu" ng-class="{active: $state.includes(item.ui_ref)}">
                <a ng-if="item.ui_ref" ui-sref="{{item.ui_ref}}"><i class="fa {{item.icon}}"></i> <span class="nav-label">{{item.title}}</span></a>
                <a ng-if="item.href" ng-href="{{item.href}}" target="_blank"><i class="fa {{item.icon}}"></i> <span class="nav-label">{{item.title}}</span></a>
            </li>
        </ul>
    </div>
</nav>