<div class="text-center animated fadeInDown">
    <section>
        <ul id='services'>
            <h2>Login via</h2>
            <li>
                <div fb-login class='entypo-facebook' role="button"></div>
                <span>Facebook</span>
            </li>
            <li class="disabled">
                <div class='entypo-twitter' role="button"></div>
                <span>Twitter</span>
            </li>
            <li class="disabled">
                <div class='entypo-gplus' role="button"></div>
                <span>Google Plus</span>
            </li>
            <li class="disabled">
                <div class='entypo-linkedin' role="button"></div>
                <span>LinkedIn</span>
            </li>
        </ul>
    </section>

</div>
